# CARBON EMISSION

In [1]:
import pandas as pd #pembuatan dataframe dan visualisasi data
import numpy as np #operasi numerik
import matplotlib.pyplot as plt #visualisasi data
import seaborn as sns #visualisasi data
import plotly.express as px #import plot
import scipy as sp

## Data Collection

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/AlvitoDwiP/carbon-emission/refs/heads/main/data/raw/owid-co2-codebook.csv", delimiter=',')
df

,column,title,description,unit,source
0,country,Country,Geographic location.,NaN,Our World in Data - Regions (2024)
1,year,Year,Year of observation.,NaN,Our World in Data - Regions (2024)
2,iso_code,ISO code,ISO 3166-1 alpha-3 three-letter country codes.,NaN,International Organization for Standardization...
3,population,Population,"Population by country, available from 10,000 B...",people,Population based on various sources (2024) [ht...
4,gdp,Gross domestic product (GDP),Total economic output of a country or region p...,international-$ in 2011 prices ($),Bolt and van Zanden – Maddison Project Databas...
...,...,...,...,...,...
74,temperature_change_from_n2o,Change in global mean surface temperature caus...,Measured in °C.,°C,Jones et al. - National contributions to clima...
75,total_ghg,Annual greenhouse gas emissions including land...,Greenhouse gas emissions are measured in tonne...,million tonnes (Mt),Jones et al. - National contributions to clima...
76,total_ghg_excluding_lucf,Annual greenhouse gas emissions from fossil fu...,Greenhouse gas emissions are measured in tonne...,million tonnes (Mt),Jones et al. - National contributions to clima...
77,trade_co2,Annual CO₂ emissions embedded in trade,Annual net carbon dioxide (CO₂) emissions embe...,million tonnes (Mt),Global Carbon Budget (2025) [https://globalcar...
78,trade_co2_share,Share of annual CO₂ emissions embedded in trade,Annual net carbon dioxide (CO₂) emissions embe...,%,Global Carbon Budget (2025) [https://globalcar...