# CARBON EMISSION

In [7]:
import pandas as pd #pembuatan dataframe dan visualisasi data
import numpy as np #operasi numerik
import matplotlib.pyplot as plt #visualisasi data
import seaborn as sns #visualisasi data
import plotly.express as px #import plot
import scipy as sp

## Data Collection

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/AlvitoDwiP/carbon-emission/refs/heads/main/data/raw/owid-co2-data.csv", delimiter=',')
df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data ini menggambarkan negara-negara yang mempunyai gas emisi dari range tahun 1750-2024.

### filter data
data emisi difilter menjadi hanya negara-negara ASEAN saja

In [11]:
asean = ['Indonesia', 'Malaysia', 'Singapore', 'Thailand', 'Philippines', 'Brunei', 'Vietnam', 'Laos', 'Myanmar', 'Cambodia']
df = df [df['country'].isin(asean)]
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
7388,Brunei,1750,BRN,8817.0,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7389,Brunei,1751,BRN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7390,Brunei,1752,BRN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7391,Brunei,1753,BRN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7392,Brunei,1754,BRN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49332,Vietnam,2020,VNM,98079196.0,7.526296e+11,60.066,0.612,362.599,23.287,6.863,...,NaN,0.662,0.004,0.006,0.010,0.0,579.987,412.028,-102.706,-28.325
49333,Vietnam,2021,VNM,98935101.0,7.719120e+11,62.071,0.627,314.197,-48.402,-13.349,...,NaN,0.668,0.004,0.006,0.011,0.0,528.790,365.921,-91.876,-29.241
49334,Vietnam,2022,VNM,99680656.0,8.338039e+11,55.979,0.562,322.653,8.457,2.691,...,NaN,0.673,0.004,0.007,0.011,0.0,539.141,373.927,-94.756,-29.368
49335,Vietnam,2023,VNM,100352189.0,NaN,44.488,0.443,347.399,24.746,7.669,...,NaN,0.679,0.004,0.007,0.011,0.0,564.164,399.984,-99.611,-28.673
49336,Vietnam,2024,VNM,100987685.0,NaN,44.488,0.441,370.931,23.533,6.774,...,NaN,0.684,0.004,0.007,0.011,0.0,583.497,423.647,NaN,NaN

setelah data difilter menjadi negara ASEAN saja, selanjutnya data difilter ulang dari tahun 2000 sampai 2024

In [12]:
df = df[(df['year'] >= 2000) & (df['year'] <= 2024)]
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
7638,Brunei,2000,BRN,326429.0,NaN,0.000,0.000,5.886,-0.092,-1.537,...,NaN,0.017,0.000,0.000,0.000,0.0,9.218,8.123,-2.344,-39.830
7639,Brunei,2001,BRN,333353.0,NaN,0.000,0.000,5.758,-0.128,-2.178,...,NaN,0.017,0.000,0.000,0.000,0.0,9.554,8.428,-2.237,-38.852
7640,Brunei,2002,BRN,340108.0,NaN,0.000,0.000,5.285,-0.473,-8.206,...,NaN,0.017,0.000,0.000,0.000,0.0,8.517,7.424,-1.717,-32.479
7641,Brunei,2003,BRN,346650.0,NaN,0.000,0.000,6.140,0.854,16.162,...,NaN,0.018,0.000,0.000,0.000,0.0,9.600,8.381,-0.516,-8.412
7642,Brunei,2004,BRN,352921.0,NaN,0.000,0.000,5.967,-0.173,-2.817,...,NaN,0.018,0.000,0.000,0.000,0.0,8.826,7.879,-0.508,-8.519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49332,Vietnam,2020,VNM,98079196.0,7.526296e+11,60.066,0.612,362.599,23.287,6.863,...,NaN,0.662,0.004,0.006,0.010,0.0,579.987,412.028,-102.706,-28.325
49333,Vietnam,2021,VNM,98935101.0,7.719120e+11,62.071,0.627,314.197,-48.402,-13.349,...,NaN,0.668,0.004,0.006,0.011,0.0,528.790,365.921,-91.876,-29.241
49334,Vietnam,2022,VNM,99680656.0,8.338039e+11,55.979,0.562,322.653,8.457,2.691,...,NaN,0.673,0.004,0.007,0.011,0.0,539.141,373.927,-94.756,-29.368
49335,Vietnam,2023,VNM,100352189.0,NaN,44.488,0.443,347.399,24.746,7.669,...,NaN,0.679,0.004,0.007,0.011,0.0,564.164,399.984,-99.611,-28.673
49336,Vietnam,2024,VNM,100987685.0,NaN,44.488,0.441,370.931,23.533,6.774,...,NaN,0.684,0.004,0.007,0.011,0.0,583.497,423.647,NaN,NaN

Data telah difilter menjadi hanya ASEAN dan range tahun 24 tahun (2000-2024)

In [ ]:
df.shape

(250, 79)

Data ini berjumlah 250 baris dan 79 kolom