# 02 Data Quality Check — ASEAN Carbon Emission (2000–2024)
Notebook ini berfokus pada evaluasi kualitas dataset hasil preprocessing.
Pemeriksaan dilakukan terhadap missing values, duplikasi, dan coverage data per negara dan tahun.
Tujuan tahap ini adalah memberikan gambaran objektif kondisi data sebelum digunakan untuk EDA dan analisis lanjutan.

In [10]:
import pandas as pd
import numpy as np

## Load Data
Dataset hasil olahan dari notebook 01 dipanggil dari folder data/process. 
Langkah ini dilakukan agar proses analisis tidak mengulang download data mentah dan filter dari awal.

In [11]:
df = pd.read_csv("data/process/owid_co2_asean_2000_2024.csv")
df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Brunei,2000,BRN,326429.0,NaN,0.0,0.0,5.886,-0.092,-1.537,...,NaN,0.017,0.0,0.0,0.0,0.0,9.218,8.123,-2.344,-39.830
1,Brunei,2001,BRN,333353.0,NaN,0.0,0.0,5.758,-0.128,-2.178,...,NaN,0.017,0.0,0.0,0.0,0.0,9.554,8.428,-2.237,-38.852
2,Brunei,2002,BRN,340108.0,NaN,0.0,0.0,5.285,-0.473,-8.206,...,NaN,0.017,0.0,0.0,0.0,0.0,8.517,7.424,-1.717,-32.479
3,Brunei,2003,BRN,346650.0,NaN,0.0,0.0,6.140,0.854,16.162,...,NaN,0.018,0.0,0.0,0.0,0.0,9.600,8.381,-0.516,-8.412
4,Brunei,2004,BRN,352921.0,NaN,0.0,0.0,5.967,-0.173,-2.817,...,NaN,0.018,0.0,0.0,0.0,0.0,8.826,7.879,-0.508,-8.519

Dataset ini akan menjadi dasar untuk seluruh analisis pada notebook berikutnya.

Selanjutnya ukuran dataset diperiksa sebagai validasi awal.

In [5]:
df.shape

(6350, 79)

## Struktur dan Tipe Data
Informasi tipe data dan ringkasan missing value ditampilkan untuk overview awal.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6350 entries, 0 to 6349
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    6350 non-null   object
 1   year                                       6350 non-null   int64
 2   iso_code                                   5450 non-null   object
 3   population                                 5725 non-null   float64
 4   gdp                                        3782 non-null   float64
 5   cement_co2                                 5722 non-null   float64
 6   cement_co2_per_capita                      5622 non-null   float64
 7   co2                                        6175 non-null   float64
 8   co2_growth_abs                             5875 non-null   float64
 9   co2_growth_prct                            5833 non-null   float64
 10  co2_including_luc                          5275 non-null   float64
 11  co2_including_luc_growth_abs               5275 non-null   float64
 12  co2_including_luc_growth_prct              5275 non-null   float64
 13  co2_including_luc_per_capita               5275 non-null   float64
 14  co2_including_luc_per_gdp                  4104 non-null   float64
 15  co2_including_luc_per_unit_energy          5010 non-null   float64
 16  co2_per_capita                             5775 non-null   float64
 17  co2_per_gdp                                4150 non-null   float64
 18  co2_per_unit_energy                        5388 non-null   float64
 19  coal_co2                                   3922 non-null   float64
 20  coal_co2_per_capita                        3872 non-null   float64
 21  consumption_co2                            3573 non-null   float64
 22  consumption_co2_per_capita                 3283 non-null   float64
 23  consumption_co2_per_gdp                    3109 non-null   float64
 24  cumulative_cement_co2                      5722 non-null   float64
 25  cumulative_co2                             5875 non-null   float64
 26  cumulative_co2_including_luc               5275 non-null   float64
 27  cumulative_coal_co2                        3922 non-null   float64
 28  cumulative_flaring_co2                     5875 non-null   float64
 29  cumulative_gas_co2                         3606 non-null   float64
 30  cumulative_luc_co2                         5350 non-null   float64
 31  cumulative_oil_co2                         5831 non-null   float64
 32  cumulative_other_co2                       1550 non-null   float64
 33  energy_per_capita                          5263 non-null   float64
 34  energy_per_gdp                             3770 non-null   float64
 35  flaring_co2                                5925 non-null   float64
 36  flaring_co2_per_capita                     5775 non-null   float64
 37  gas_co2                                    3606 non-null   float64
 38  gas_co2_per_capita                         3556 non-null   float64
 39  ghg_excluding_lucf_per_capita              5238 non-null   float64
 40  ghg_per_capita                             5275 non-null   float64
 41  land_use_change_co2                        5350 non-null   float64
 42  land_use_change_co2_per_capita             5275 non-null   float64
 43  methane                                    5450 non-null   float64
 44  methane_per_capita                         5275 non-null   float64
 45  nitrous_oxide                              5500 non-null   float64
 46  nitrous_oxide_per_capita                   5325 non-null   float64
 47  oil_co2                                    5831 non-null   float64
 48  oil_co2_per_capita                         5773 non-null   float64
 49  other_co2_per_capita                       1500 non-null   float64
 50  other_industry_co2                         1550 non-null   float64
 51  primary_energy_consumption                 5287 non-null   float64
 52  share_global_cement_co2                    5722 non-null   float64
 53  share_global_co2                           5875 non-null   float64
 54  share_global_co2_including_luc             5275 non-null   float64
 55  share_global_coal_co2                      3922 non-null   float64
 56  share_global_cumulative_cement_co2         5722 non-null   float64
 57  share_global_cumulative_co2                5875 non-null   float64
 58  share_global_cumulative_co2_including_luc  5275 non-null   float64
 59  share_global_cumulative_coal_co2           3922 non-null   float64
 60  share_global_cumulative_flaring_co2        5875 non-null   float64
 61  share_global_cumulative_gas_co2            3606 non-null   float64
 62  share_global_cumulative_luc_co2            5350 non-null   float64
 63  share_global_cumulative_oil_co2            5831 non-null   float64
 64  share_global_cumulative_other_co2          1550 non-null   float64
 65  share_global_flaring_co2                   5875 non-null   float64
 66  share_global_gas_co2                       3606 non-null   float64
 67  share_global_luc_co2                       5350 non-null   float64
 68  share_global_oil_co2                       5831 non-null   float64
 69  share_global_other_co2                     1550 non-null   float64
 70  share_of_temperature_change_from_ghg       5925 non-null   float64
 71  temperature_change_from_ch4                5500 non-null   float64
 72  temperature_change_from_co2                5925 non-null   float64
 73  temperature_change_from_ghg                5925 non-null   float64
 74  temperature_change_from_n2o                5500 non-null   float64
 75  total_ghg                                  5450 non-null   float64
 76  total_ghg_excluding_lucf                   5413 non-null   float64
 77  trade_co2                                  3333 non-null   float64
 78  trade_co2_share                            3333 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 3.8+ MB

## Duplicate Check
Duplikasi berdasarkan kombinasi country dan year diperiksa karena unit observasi didefinisikan pada level tersebut.

In [7]:
dup_count = df.duplicated(["country", "year"]).sum()
dup_count

np.int64(0)

Nilai duplikasi bernilai nol, menandakan setiap observasi country-year bersifat unik.

## Missing Values Overview
Persentase missing value dihitung untuk setiap kolom.

In [8]:
missing_pct = (
    df.isnull()
    .mean()
    .mul(100)
    .round(2)
    .sort_values(ascending=False)
)
missing_pct

other_co2_per_capita                    76.38
cumulative_other_co2                    75.59
other_industry_co2                      75.59
share_global_other_co2                  75.59
share_global_cumulative_other_co2       75.59
                                        ...
share_of_temperature_change_from_ghg     6.69
temperature_change_from_co2              6.69
co2                                      2.76
year                                     0.00
country                                  0.00
Length: 79, dtype: float64

Hasil ini menunjukkan kolom apa saja yang memiliki missing value yang tinggi dan berpotensi bermasalah untuk dilakukan analisis.

## Missing Values per Negara
missing value dilakukan per negara untuk menghindari bias struktural yang tersembunyi.

In [9]:
missing_by_country = (
    df.groupby("country")
    .apply(lambda x: x.isnull().mean().mul(100).round(2))
)
missing_by_country

/tmp/ipython-input-2466134547.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.isnull().mean().mul(100).round(2))

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0
Africa,0.0,0.0,100.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0
Africa (GCP),0.0,0.0,100.0,100.0,100.0,100.0,100.0,0.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
Albania,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0
Algeria,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,0.0,0.0,0.0,0.0,100.0,4.0,4.0,0.0,0.0,0.0,...,100.0,0.0,100.0,0.0,0.0,100.0,100.0,100.0,100.0,100.0
World,0.0,0.0,100.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yemen,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0
Zambia,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0
Zimbabwe,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0

Langkah ini penting karena missing rendah secara global bisa menyembunyikan missing ekstrem pada negara tertentu.

## Coverage Tahun per Negara
Coverage tahun diperiksa untuk memastikan konsistensi periode antar negara.

In [12]:
coverage = (
    df.groupby("country")["year"]
    .agg(["min", "max", "nunique"])
    .sort_values("nunique")
)
coverage

              min   max  nunique
country
Brunei       2000  2024       25
Cambodia     2000  2024       25
Indonesia    2000  2024       25
Laos         2000  2024       25
Malaysia     2000  2024       25
Myanmar      2000  2024       25
Philippines  2000  2024       25
Singapore    2000  2024       25
Thailand     2000  2024       25
Vietnam      2000  2024       25

Hasil ini menunjukkan apakah seluruh negara memiliki cakupan tahun yang seimbang pada periode 2000–2024.

## Definisi Kolom Inti untuk Analisis
Kolom inti didefinisikan secara eksplisit agar tidak terjadi redefinisi diam diam di notebook berikutnya.

In [15]:
core_columns = [
    "country",
    "year",
    "population",
    "co2",
    "co2_per_capita",
    "coal_co2",
    "oil_co2",
    "gas_co2",
    "cement_co2",
    "flaring_co2"
]

missing_core = missing_pct[core_columns]
missing_core

country            0.00
year               0.00
population         9.84
co2                2.76
co2_per_capita     9.06
coal_co2          38.24
oil_co2            8.17
gas_co2           43.21
cement_co2         9.89
flaring_co2        6.69
dtype: float64

## Evaluasi Threshold Missing
Threshold missing 10 persen digunakan sebagai rule of thumb untuk eksplorasi awal.
Kolom di atas threshold diidentifikasi tanpa langsung dihapus.

In [16]:
threshold = 10

cols_above_threshold = missing_pct[missing_pct > threshold]
cols_below_threshold = missing_pct[missing_pct <= threshold]

cols_above_threshold, cols_below_threshold

(other_co2_per_capita                         76.38
 cumulative_other_co2                         75.59
 other_industry_co2                           75.59
 share_global_other_co2                       75.59
 share_global_cumulative_other_co2            75.59
 consumption_co2_per_gdp                      51.04
 consumption_co2_per_capita                   48.30
 trade_co2                                    47.51
 trade_co2_share                              47.51
 gas_co2_per_capita                           44.00
 consumption_co2                              43.73
 share_global_cumulative_gas_co2              43.21
 cumulative_gas_co2                           43.21
 gas_co2                                      43.21
 share_global_gas_co2                         43.21
 energy_per_gdp                               40.63
 gdp                                          40.44
 coal_co2_per_capita                          39.02
 cumulative_coal_co2                          38.24
 share_global_coal_co2                        38.24
 share_global_cumulative_coal_co2             38.24
 coal_co2                                     38.24
 co2_including_luc_per_gdp                    35.37
 co2_per_gdp                                  34.65
 co2_including_luc_per_unit_energy            21.10
 ghg_excluding_lucf_per_capita                17.51
 energy_per_capita                            17.12
 co2_including_luc                            16.93
 co2_including_luc_per_capita                 16.93
 co2_including_luc_growth_abs                 16.93
 co2_including_luc_growth_prct                16.93
 share_global_cumulative_co2_including_luc    16.93
 land_use_change_co2_per_capita               16.93
 methane_per_capita                           16.93
 cumulative_co2_including_luc                 16.93
 ghg_per_capita                               16.93
 share_global_co2_including_luc               16.93
 primary_energy_consumption                   16.74
 nitrous_oxide_per_capita                     16.14
 share_global_luc_co2                         15.75
 share_global_cumulative_luc_co2              15.75
 cumulative_luc_co2                           15.75
 land_use_change_co2                          15.75
 co2_per_unit_energy                          15.15
 total_ghg_excluding_lucf                     14.76
 iso_code                                     14.17
 total_ghg                                    14.17
 methane                                      14.17
 temperature_change_from_n2o                  13.39
 temperature_change_from_ch4                  13.39
 nitrous_oxide                                13.39
 cement_co2_per_capita                        11.46
 dtype: float64,
 share_global_cement_co2                 9.89
 cement_co2                              9.89
 share_global_cumulative_cement_co2      9.89
 cumulative_cement_co2                   9.89
 population                              9.84
 oil_co2_per_capita                      9.09
 flaring_co2_per_capita                  9.06
 co2_per_capita                          9.06
 share_global_oil_co2                    8.17
 share_global_cumulative_oil_co2         8.17
 cumulative_oil_co2                      8.17
 oil_co2                                 8.17
 co2_growth_prct                         8.14
 share_global_co2                        7.48
 co2_growth_abs                          7.48
 share_global_flaring_co2                7.48
 share_global_cumulative_flaring_co2     7.48
 cumulative_co2                          7.48
 cumulative_flaring_co2                  7.48
 share_global_cumulative_co2             7.48
 flaring_co2                             6.69
 temperature_change_from_ghg             6.69
 share_of_temperature_change_from_ghg    6.69
 temperature_change_from_co2             6.69
 co2                                     2.76
 year                                    0.00
 country                                 0.00
 dtype: float64)

Keputusan untuk mengecualikan kolom tetap ditunda ke tahap analisis, bukan dipaksakan di tahap quality check.

## Dataset Ringkas untuk EDA
Dataset tidak dimodifikasi pada tahap ini.
Notebook ini hanya menghasilkan informasi kualitas dan definisi kolom.
Sebagai validasi akhir, jumlah baris per negara ditampilkan.

In [17]:
df["country"].value_counts().sort_values()

country
Brunei         25
Cambodia       25
Indonesia      25
Laos           25
Malaysia       25
Myanmar        25
Philippines    25
Singapore      25
Thailand       25
Vietnam        25
Name: count, dtype: int64

Output dari notebook ini digunakan sebagai dasar transparan untuk EDA dan analisis lanjutan, tanpa klaim normatif tentang kelayakan data.